@import '../../App';

.app-bar { 
    z-index: 1201 !important;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    background-color: #fff !important;
    color: $font-color !important;
}

.app-bar-shift { 
    margin-left: $sidebarWidth;
    width: calc(100% - #{$sidebarWidth}) !important;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.menu-button { 
    margin: 0 36px 0 12px;
}

.hide { 
    display: none;
}