@import '../../App';

.dashboard-widget { 
    padding: 5px;
    min-width: 200px;

    .settings { 
        color: #000;
        font-size: 15px;
    }
    
    .icon-button { 
        padding: 0px;
        width: auto;
        height: inherit;
        border-radius: 25px;
    }

    .widget-title{
    }

    .widget-header { 
    }
}
