@import '../../App';

.dashboard-widget { 
    min-width: 200px;
    margin: $standard-margin;
    
    .settings { 
        color: #fff;
        font-size: 15px;
    }

    .widget-header { 
        padding: $standard-padding $standard-padding 0 $standard-padding;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .widget-title { 
            color: #000;
            font-weight: 300;
        }

        .icon-button { 
            color: #000;
        }
    }

    .widget-container { 
        padding: 0 $standard-padding 0 $standard-padding;
    }

}
