@import '../../App';

.dashboard-widget { 
    padding: 5px;
    min-width: 200px;

    .settings { 
        color: #fff;
        font-size: 15px;
    }

    .widget-header { 
        padding: $standard-padding;
        margin-bottom: $standard-margin;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .widget-title { 
            color: #000;
            font-weight: 300;
        }

        .icon-button { 
            color: #000;
        }
    }

}
