.drop-container { 
    display:  inherit;
    flex-grow: inherit;
    flex-direction: inherit;
    height: 100%;
    width: 100%;

    .draggable-card { 
        margin: 5px;
        flex-grow: inherit;
        width: inherit;
    }


}

.active-container { 
    background-color: red;
}