@import '../../App';

.form-group {
    margin: $standard-margin;
    position: relative;
    width: auto;

    .form-label { 
        display: block;
        color: $form-label-color;
        font-family: $base-font-family-primary;
        font-weight: 600;
        text-transform: uppercase;
    }

    .form-input { 
        display: block;
        border: solid 1px $orange;
        border-radius: 2px;
        padding: $standard-padding;
    }

    .form-submit { 
        background-color: $orange;
        color: white;
        border: none;
        padding: $standard-padding 25px $standard-padding 25px;
        
    }
}