@import '../../App';

.default-button { 
    background-color: $color-omega;
    border-radius: 2px;
    box-shadow: none;

    .default-button-text { 
        font-family: $base-font-family-secondary;
        color: $base-font-color-light;
    }
}

.default-button:focus { 
    outline: 0;
}

.default-button:hover { 
    background-color: $color-psi;
}