


//Colours
$ocean-one: #003840;
$ocean-two: #005A5B;
$ocean-three: #007369;
$ocean-four: #008C72;
$ocean-five: #02A676;

$dark-blue: #303c6c;
$orange: #f4976c;
$light-blue: #b4dfe5;

//Default Colors;
$color-alpha: $ocean-one !default;
$color-beta: $ocean-two !default;
$color-gamma: $ocean-three !default;
$color-psi: $ocean-four !default;
$color-omega: $ocean-five !default;

//Sidebar Colors
$sidebar-background-color: #fff!default;
$sidebar-text-color: #000 !default;
$sidebar-icon-color: $color-omega !default;

//Appbar Colors
$appbar-background-color: $color-omega !default;
$appbar-text-color: #fff!default;

//Main container
$main-page-background-color: #fff !default;

//Widget Defaults 
$widget-default-color: #ccc !default;

//Form styling
$form-label-color: $dark-blue;
$form-highlight-color: $orange;

//font
$base-font-color-dark: #000 !default;
$base-font-color-light: #fff !default;
$base-font-family-primary: 'Work Sans', sans-serif !default;
$base-font-family-secondary: 'Raleway', sans-serif !default;


//Widths
$sidebarWidth: 240px;
$sidebarClosedWidth: 65px;
$toolbar-height: 56px;
$standard-padding: 5px;
$standard-margin: 10px;

//Icons 
$icon-large: 24px;
$icon-medium: 18px;
$icon-small: 10px;


.icon-button { 
    padding: 0px;
    width: auto;
    height: inherit;
    border-radius: 25px;
}


