
$font-stack: 'Roboto', sans-serif;
$font-stack-secondary: 'Raleway', sans-serif;

//Colours
$primary-color: #EF5736;
$secondary-color: #F47545;

$font-color: #000;


//Widths
$sidebarWidth: 240px;
$toolbar-height: 56px;
$standard-padding: 5px;
$standard-margin: 10px;


.icon-button { 
    padding: 0px;
    width: auto;
    height: inherit;
    border-radius: 25px;
}


