
$font-stack: 'Roboto', sans-serif;
$font-stack-secondary: 'Raleway', sans-serif;

//Colours
$primary-color: #005A5B;
$secondary-color: #007369;

$shade-one: #003840;
$shade-two: #005A5B;
$shade-three: #007369;
$shade-four: #008C72;
$shade-five: #02A676;


$font-color: #000;


//Widths
$sidebarWidth: 240px;
$sidebarClosedWidth: 65px;
$toolbar-height: 56px;
$standard-padding: 5px;
$standard-margin: 10px;


.icon-button { 
    padding: 0px;
    width: auto;
    height: inherit;
    border-radius: 25px;
}


