.drop-container { 
    display:  inherit;
    flex-grow: inherit;
    flex-direction: inherit;
    height: 100%;
    width: 100%;
    border: 1px solid black;

    .draggable-card { 
        margin: 5px;
    }


}

.active-container { 
    background-color: red;
}